@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.--header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #672280, #a626d3);
  padding: 5px;
}

.--header-logo {
  width: 31px;
  margin-left: 8px;
}

.--header-text {
  font-family: "Karla", sans-serif;
  font-size: 21px;
  color: white;
  letter-spacing: -0.1em;
  margin-right: auto;
  margin-left: 5px;
}

.--header-subText {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  margin-right: 8px;
}

.--meme {
  padding: 36px 10px;
  display: flex;
  flex-direction: column;
}

.--meme-form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.--meme-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.--meme-form > button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  color: white;
  background: linear-gradient(to right, #672280, #a626d3);
}

.--meme-form > button:hover {
  cursor: pointer;
  position: relative;
  bottom: 5px;
}
.--meme-image {
  max-width: 75%;
  align-self: center;
  margin-top: 5rem;
}
